@page
@model LoginModel

@{
}
<body class="login-body">
    <div class="main-section-login">
      <section>
          <form class="form-login" id="account" method="post">
              <h1 class="h1-login">Log in</h1>
        
              <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
              <div class="row-login">
                  <div class="col-sm-5-login">
                      <input type="email" class="form-control-login" id="username" placeholder="Email/Username" asp-for="Input.Email" autocomplete="username" aria-required="true">
                      <p><span asp-validation-for="Input.Email" class="text-danger-login"></span></p>
                  </div>
              </div>
              <div class="row-login" style="padding-bottom:4%">
                  <div class="col-sm-5-login">
                      <input type="password" class="form-control-login" id="Password" placeholder="Password" autocomplete="current-password" asp-for="Input.Password" aria-required="true">
                      <p><span asp-validation-for="Input.Password" class="text-danger-login"></span></p>
                  </div>
              </div>
              <div class="checkbox mb-3">
                  <label asp-for="Input.RememberMe" class="form-label" >
                      <input class="form-check-input" asp-for="Input.RememberMe" />
                      @Html.DisplayNameFor(m => m.Input.RememberMe)
                  </label>
              </div>
              <button id="login-e=" type= "submit" class="btn-login btn-primary submit">Log in</button>
          </form>
          <!-- Google login button start -->
          <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
              <div>
                  <p>
                      @foreach (var provider in Model.ExternalLogins!)
                      {
                          <button type="submit" class="google-auth" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <img width="16" height="16" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/2048px-Google_%22G%22_logo.svg.png" />
                              Sign in with Google

                          </button>
                      }
                  </p>
              </div>
          </form>
          <!-- Google login button finish -->
      
          <!-- <p class="google-auth" >Google Auth Placeholder</p> -->
                    <p class="p-login">Still don't have an account? <a class="a-login" style="font-size:100%;" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></p>
                    <a class="a-login"  id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
     

          </section>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
