@model IEnumerable<questvault.Models.FriendshipRequest>

@{
    ViewData["Title"] = "Requests";
}

<div class="results-game">

    <div class="container d-flex justify-content-between align-items-end m-0" style="max-width: 100%">
        <h3>My Friends</h3>
    </div>

    <hr class="bar" style="margin-bottom: 2vh; width: 100%;">

    <div>
        <div class="row justify-content-center">
            <a asp-controller="Friendships" asp-action="FriendsPage" class="btn btn-blue-big m-2">
                <img class="nav-vector pe-1" src="~/img/vector/user.svg" alt="User Icon" />
                Friends
            </a>
            <a asp-controller="Friendships" asp-action="FriendRequests" class="btn btn-purple m-2">
                <img class="nav-vector pe-1" src="~/img/vector/clipboard-list-solid.svg" alt="Request Icon" />
                Requests
            </a>
        </div>
        <table class="table table-dark table-sm table-profile">
            @*
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Sender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Receiver)
                    </th>
                    <th>
                        Result
                    </th>
                </tr>
            </thead>*@
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sender.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver.UserName)
                    </td>
                    <td>
                        <a class="btn btn-primary nav-btn" asp-controller="Friendships" asp-action="AcceptFriendRequest" asp-route-id="@item.Sender.Id">Accept Request</a>
                        <a class="btn btn-primary nav-btn" asp-controller="Friendships" asp-action="RejectFriendRequest" asp-route-id="@item.Sender.Id">Reject Request</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    </div>