@model questvault.Models.FriendsViewData

@{
  ViewData["Title"] = "Profile";
  ViewData["help_Text"] = @"
       This is a public user profile. <br/>
       In this page you can see the profile of user with all the information avaliable <br/>
       You can send a friend request so you can stay conected (if he ever comes outside, he will see it)!";
}
<body class="profile">

  <section class="profile-banner d-flex align-items-center">

    <div class="container-fluid d-flex align-items-center justify-content-center mt-3">
      <div class="profile-avatar d-flex align-items-center ">
        <img class="user-foto p-4" src="~/img/vector/user.svg" />
      </div>

      <div class="d-flex row ms-3 align-items-center">
        <div class="profile-details d-inline-flex mb-4">
          <h4 class="profile-username">@Model.user.UserName</h4>
          @if (User.Identity.Name != Model.user.UserName)
          {
            if (Model.RequestSent)
            {
              <h5 style="color:white; text-align: center">A request has been sent!</h5>
            }
            else if (Model.RequestRecieved)
            {
              <a asp-controller="User" asp-action="AcceptFriendRequest" asp-route-id="@Model.user.Id" style="text-decoration: none; width: 12.5rem;" class="btn-primary nav-btn-2 ms-3">
                <img class="nav-vector pe-1" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(108%) contrast(101%);" src="~/img/vector/plus-solid.svg" alt="Plus Icon" />
                Accept Request
              </a>
              <a asp-controller="User" asp-action="RejectFriendRequest" asp-route-id="@Model.user.Id" style="text-decoration: none; width: 12.5rem;" class="btn-primary nav-btn-2 ms-3">
                <img class="nav-vector pe-1" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(108%) contrast(101%);" src="~/img/vector/circle-xmark-solid.svg" alt="Deny Icon" />
                Deny Request
              </a>
            }
            else if (!Model.friends)
            {
              <a asp-controller="User" asp-action="SendFriendRequest" asp-route-id="@Model.user.Id" style="text-decoration: none" class="btn-primary nav-btn-2 ms-3">
                <img class="nav-vector pe-1" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(108%) contrast(101%);" src="~/img/vector/plus-solid.svg" alt="Plus Icon" />
                Add Friend
              </a>
            }
            else if (Model.friends)
            {
              <a asp-controller="User" asp-action="RemoveFriend" asp-route-id="@Model.user.Id" style="text-decoration: none; width: 12.5rem;" class="btn-primary nav-btn-2 ms-3"
                onclick="return confirm('Are you sure you to remove @Model.user.UserName from your friends?')">
                <img class="nav-vector pe-1" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(108%) contrast(101%);" src="~/img/vector/trash-can-solid.svg" alt="Trash Can Icon" />
                Remove Friend
              </a>
            }
          }

        </div>
        <div class="profile-connects row container-fluid">
          <img class="img-size-sm" src="~/img/external/Steam_Logo.png" alt="Steam Logo" />
        </div>
      </div>

      <div class="profile-stats container-fluid justify-content-end">
        <h4 style="color: white" class="profile-hours">200 hours played</h4>
        <h5 style="color: white" class="profile-games-played">50 games in library</h5>
        <h6 style="color: white" class="profile-games-backed">25 Playing</h6>
        <h6 style="color: white" class="profile-games-backed">5 Finished</h6>
        <h6 style="color: white" class="profile-games-backed">10 Backlogged</h6>
        <h6 style="color: white" class="profile-games-backed">10 Wishlist</h6>
      </div>
    </div>
  </section>
  <section class="profile-about ">
    <div class="d-flex justify-content-between">
      <div class="profile-bio">
      </div>
      <div class="profile-top5">
        <partial name="_Top5" for="@ViewData["Top5"] as List<GameLog>" />
      </div>
    </div>
  </section>
</body>
