@model IEnumerable<questvault.Models.User>

@{
    ViewData["Title"] = "Friends Test";
}

<h1 class="text-light">@ViewData["Title"]</h1>

<table class="table table-dark table-sm table-profile">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                    <a class="btn btn-primary nav-btn" asp-controller="Friendships" asp-action="SendFriendRequest" asp-route-id="@item.Id">Send Friend Request</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<a class="btn btn-primary nav-btn" asp-controller="Friendships" asp-action="FriendsPage">See Friendships</a>
