@model IEnumerable<questvault.Models.User>

@{
  ViewData["Title"] = "Users";
}

<div class="main-section">

  <div class="main-section-title container d-flex justify-content-between align-items-end m-0">
    <h3 style="color:white">Users</h3>
  </div>

  <hr class="bar">

  <table class="table table-dark table-sm table-profile container mb-4" style="margin-bottom: 10rem">
    <thead>
      <tr>
        <th style="text-align: left">
          @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr style="height: 53px">
          <td style="text-align: left">
            <a style="color:white" href="@Url.Action("Profile", "User", new {id = item.Id})"> @Html.DisplayFor(modelItem => item.UserName) </a>
          </td>
          <td>
            @if (item.Clearance < 2 && !item.LockoutEnabled)
            {
              <a class="btn btn-primary btn-remove" onclick="return confirm('Are you sure you want to Lockout @item.UserName?')"
                 asp-controller="Backoffice" style="width: 8.5rem" asp-action="LockoutUserAll" asp-route-id="@item.Id">Lockout User</a>
            }
            @if (item.LockoutEnabled)
            {
              <a onclick="return confirm('Are you sure you want to remove @item.UserName's Lockout?')"
                 class="btn btn-primary nav-btn" style="width: 8.5rem" asp-controller="Backoffice" asp-action="RemoveLockoutUserAll" asp-route-id="@item.Id">Unlock User</a>
            }
          </td>
          <td>
            @if (item.Clearance != 2 && !item.LockoutEnabled)
            {
              <a onclick="return confirm('Are you sure you make @item.UserName an Administrator?')"
                 class="btn btn-primary nav-btn" asp-controller="Backoffice" asp-action="GiveAdminAll" asp-route-id="@item.Id">Make Admin</a>
            }
          </td>
          <td>
            @if (item.Clearance == 0 && !item.LockoutEnabled)
            {
              <a onclick="return confirm('Are you sure you make @item.UserName a Moderator?')"
                 class="btn btn-primary nav-btn" asp-controller="Backoffice" asp-action="GiveModeratorAll" asp-route-id="@item.Id">Make Mod</a>
            }
            @if (item.Clearance == 1 && !item.LockoutEnabled)
            {
              <a onclick="return confirm('Are you sure you remove @item.UserName from being a Moderator?')"
                 class="btn btn-primary nav-btn-2" asp-controller="Backoffice" asp-action="RemovePermissionsAll" asp-route-id="@item.Id">Remove Mod</a>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>