@model IEnumerable<questvault.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1 class="container text-light">@ViewData["Title"]</h1>

<table class="table table-dark table-sm table-profile container">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a class="btn btn-primary nav-btn" asp-controller="Friendships" asp-action="SendFriendRequest" asp-route-id="@item.Id">Disable User</a>
                    </td>
                <td>
                    <a class="btn btn-primary nav-btn" asp-controller="Backoffice" asp-action="GiveAdmin" asp-route-id="@item.Id">Give admin</a>
                </td>
                    <td>
                        <a class="btn btn-primary nav-btn" asp-controller="Backoffice" asp-action="GiveModerator" asp-route-id="@item.Id">Give moderator</a>
                    </td>
                    <td>
                        <a class="btn btn-primary nav-btn" asp-controller="Friendships" asp-action="SendFriendRequest" asp-route-id="@item.Id">Add Friend</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
