@model IEnumerable<questvault.Models.User>

@{
    ViewData["Title"] = "Users";
}

<div class="results-game">
    <div class="d-flex justify-content-center">
        <form asp-controller="Games" asp-action="Results" method="post">
            <input id="searchInput" autocomplete="off" name="searchTerm" type="text" hidden value="@ViewBag.SearchTerm" />
            <button class="btn btn-blue-big m-2">
                <img class="nav-vector pe-1" src="~/img/vector/gamepad.svg" alt="Gamepad Icon" />
                Games
            </button>
        </form>

        <button class="btn btn-purple m-2" disabled>
            <img class="nav-vector pe-1" src="~/img/vector/user.svg" alt="User Icon" />
            Users
        </button>
    </div>

    <hr class="bar" style="margin-bottom: 25px; width: 100%;">
    <div class="d-flex main-section-result justify-content-center">
        <div class="game-section">
            <h4 class="mb-4">@ViewBag.NumberResults results for @ViewBag.SearchTerm</h4>
            <table class="table d-flex table-dark table-sm table-profile">
                <tbody class="container d-inline-flex">
                    <tr class="row d-flex justify-content-between align-items-center">
                        @foreach (var item in Model)
                        {
                            <td class="d-flex mt-5 me-4 align-items-center justify-content-center">
                                <img class="user-foto p-3 ms-0 me-4" src="~/img/vector/user.svg" style="background: #0ABDC6; height: 4rem; width: 4rem;" />
                                <span style="width: 15rem;">@Html.DisplayFor(modelItem => item.UserName)</span>
                                @if (!SignInManager.UserManager.GetUserName(User).Equals(@ViewBag.SearchTerm, StringComparison.OrdinalIgnoreCase))
                                {
                                    <a class="btn btn-primary nav-btn ms-5" asp-controller="Friendships" asp-action="SendFriendRequest" asp-route-id="@item.Id">Add Friend</a>
                                }
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>