@model IEnumerable<questvault.Models.User>

@{
  ViewData["Title"] = "Users";
  ViewData["N"] = @ViewBag.NumberResults - 1;
}

<div class="results-game">
  <div class="d-flex justify-content-center">
    <form asp-controller="Games" asp-action="Results" method="post">
      <input id="searchInput" autocomplete="off" name="searchTerm" type="text" hidden value="@ViewBag.SearchTerm" />
      <button class="btn btn-blue-big btn-games-inverted m-2">
        <img class="nav-vector pe-1" src="~/img/vector/gamepad.svg" alt="Gamepad Icon" />
        Games
      </button>
    </form>

    <button class="btn btn-purple btn-search-disabled m-2">
      <img class="nav-vector pe-1" src="/img/usr_profile/user.svg" alt="User Icon" />
      Users
    </button>
  </div>

  <hr class="bar" style="margin-bottom: 25px; width: 100%;">
  <div class="d-flex main-section-result justify-content-center">
    <div class="game-section">
      @if (User.Identity.Name.Contains(@ViewBag.SearchTerm))
      {
        <h4 class="main-section-title mb-4">@ViewData["N"] results for @ViewBag.SearchTerm</h4>
      }
      else
      {
        <h4 class="mb-4 main-section-title">@ViewBag.NumberResults results for @ViewBag.SearchTerm</h4>
      }
 
      @if (Model.Any())
      {
        <table class="table d-flex table-dark table-sm table-profile">
          <tbody class="container d-inline-flex">
            <tr class="row d-flex justify-content-between align-items-center">
              @foreach (var item in Model)
              {
                
                var userAvatar = (item != null && item.ProfilePhotoPath != null) ? item.ProfilePhotoPath : "/img/usr_profile/user.svg";
                @if (User.Identity.Name != item.UserName)
                {
                  <td class="user-results d-flex mt-5 me-4 align-items-center justify-content-evenly">
                    <a style="text-decoration: none; color: white" href="@Url.Action("Profile", "User", new { id = item.Id})">
                      <div class="ms-0 me-2 d-flex align-items-center justify-content-center user-foto" style="width: 4rem; height: 4rem;">
                        <img class="@(userAvatar=="/img/usr_profile/user.svg" ? "nav-vector mb-1" : "")" src="@userAvatar" style="@(userAvatar == "/img/usr_profile/user.svg" ? "height: 2rem; width: 2rem; background-size: cover; border-radius: 0 !important; filter: invert(8%) sepia(21%) saturate(4513%) hue-rotate(198deg) brightness(89%) contrast(99%);" : "border-radius: 50%; height: 4rem; width: 4rem;")" />
                      </div>
                    </a>
                    <a style="text-decoration: none; color: white" href="@Url.Action("Profile", "User", new { id = item.Id})">
                      <span style="min-width: 8rem;">@Html.DisplayFor(modelItem => item.UserName)</span>
                    </a>
                  </td>
                }
              }
            </tr>
          </tbody>
        </table>
      }
      else
      {
        <h2 class="container" style="text-align: center; color: white;margin-top: 20vh;">No Results</h2>
      }
    </div>
  </div>
</div>