@model questvault.Models.Game

@{
    ViewData["Title"] = "Game";
    ViewData["help_Text"] = @"
      This page allows you to see some details about the game,<br/>
      You can add the game to your library, give it a progression<br/>
      label and a review so your friends know what you think about it.";
}
@if (SignInManager.IsSignedIn(User))
{
    
<div class="game-details">

    <section class="d-flex main-section">
        <img class="game-cover image-fluid" src="@Model.ImageUrl" />
        <div class="container ms-3 mt-4">
            <h2 class="game-title m-auto">@Html.DisplayFor(model => model.Name)</h2>
            <h4>Released on @Model.ReleaseDate</h4>


            <h5>
                By 
                @foreach (var c in Model.GameCompanies)
                {
                    <text>@c.Company.CompanyName</text>
                    @if (c != Model.GameCompanies.Last())
                    {
                        <text>, </text>
                    }
                }
            </h5>

            <div class="ps-0">
                <div class="game-filters d-inline-flex mt-3">
                    @foreach (var gen in Model.GameGenres)
                    {
                        <div class="me-3 text-decoration-underline">
                            @if (gen != null)
                            {
                                @gen.Genre.GenreName
                            }else
                            {
                                <text>Genre Not found</text>
                            }
                        </div>
                    }
                </div>
                <div class="game-user-status">
                    <div class="d-inline-flex">
                         <form asp-controller="Library" asp-action="AddUpdateGames" method="post">
                            <input type="hidden" name="gameId" value="@Model.IgdbId"/>
                                <select #game (change)="onSelected(game.value)" name="ownage" class="select-results col-1 me-2" aria-label="Default select example">
                                    <option selected>Add Game</option>
                                    <option value="Playing">Playing</option>
                                    <option value="Finished">Finished</option>
                                    <option value="Backlogged">Backlogged</option>
                                    <option value="Wishlist">Wishlist</option>
                           
                                </select>
                                <select #status (change)="onSelected(status.value)" name="status" class="select-results col-1 ms-2" aria-label="Default select example">
                                    <option selected>Status</option>
                                    <option value="Complete">Complete</option>
                                    <option value="Played">Played</option>
                                    <option value="Retired">Retired</option>
                                    <option value="Shelved">Shelved</option>
                                    <option value="Abandoned">Abandoned</option>
                                </select>
                                <button class="btn btn-primary nav-btn-2" type="submit">Submit</button>
                     </form>
                            @if (ViewBag.IsGameAddedToLibrary==true)
                            {
                                 <form asp-controller="Library" asp-action="RemoveGame" method="post">
                                    <input type="hidden" name="gameId" value="@Model.GameId"/>
                                    <button type="submit">Remove Game</button>
                                 </form>
                            }
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid game-score mt-4">
            <h4>Game Score</h4>
            <div class=" justify-content-end d-inline-flex">
                @* global rating stars *@
                <div class="global-rating">
                    <span id="global-rating">@Model.QvRating</span>.0
                </div>
                <div class="stars" id="global-stars">
                    <span class="global-star" data-value="1">★</span>
                    <span class="global-star" data-value="2">★</span>
                    <span class="global-star" data-value="3">★</span>
                    <span class="global-star" data-value="4">★</span>
                    <span class="global-star" data-value="5">★</span>
                </div>
            </div>
            <div class="game-platforms container-fluid mt-5">
                @foreach (var p in Model.GamePlatforms )
                {
                    <p>@p.Platform.PlatformName</p>
                }
            </div>
        </div>

    </section>

    <hr class="game-bar">

    <section class="d-flex main-section">

        <div class="container-fluid justify-content-between mt-3">
            <div class="game-about align-top mb-5">
                <h4 class="align-content-start">Summary</h4>
                <p class="text-break text-wrap">@Model.Summary</p>
            </div>
            <div class="game-captures align-bottom">
                <h4>Screenshots</h4>

                <div class="card-group">
                    @for (int i = 0; i < Model.Screenshots.Length; i++)
                    {
                        <div class="card me-2">
                            <img src="@Model.Screenshots[i]" class="card-img col-md-2" alt="...">
                        </div>
                    }
                </div>
                <iframe class="card-img col-md-2"
                        width="280"
                        height="318" src="@Model.VideoUrl"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="game-review container mt-3">
            <h4>Your Review</h4>
            <div class="justify-content-end d-flex">
                <div class="rating">
                    <span id="rating">0</span>.0
                </div>
                <div class="stars" id="stars">
                    <span class="star" data-value="1">★</span>
                    <span class="star" data-value="2">★</span>
                    <span class="star" data-value="3">★</span>
                    <span class="star" data-value="4">★</span>
                    <span class="star" data-value="5">★</span>
                </div>
            </div>
            <textarea id="review" maxlength="255" placeholder="Write your review here (max 255)"></textarea>
            <div>            
                <button id="submit" class="mt-2 btn-blue-big submit">Submit</button>
            </div>
            <div class="reviews" id="reviews"></div>
        </div>
    </section>
</div>

    <script src="~/js/rating.js"></script>
}else
{
    <h1 style="color :red">Please log in to access this page.</h1>
}