@using System.Linq
@using questvault.Utils
@model GameViewData
@{
    ViewData["Title"] = "Results";
    ViewData["help_Text"] = @"
       In the Games page you can find a selection of games,<br/>
       this being the most popular or if you searched a especific<br/>
       name the games matching what you search will show in here!<br/>
       You can go further and search a game and then filter in: <br/>
       <ul>
          <li>Genre</li>
          <li>Released</li>
          <li>Year</li>
          <li>Platform</li>
        </ul>
       And search for the game you really want!";
}

@{
    var batchSize = 5; // Defina o tamanho do lote aqui
    var batches = Model.Games.Select((game, index) => new { Game = game, Index = index })
                       .GroupBy(x => x.Index / batchSize)
                       .Select(g => g.Select(x => x.Game));
    var years = Model.Games
    .Where(g => g.ReleaseDate.HasValue)
    .Select(g => g.ReleaseDate.Value.Year)
    .Distinct()
    .OrderByDescending(y => y)
    .ToList();

    var prevDisabled = !Model.Games.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Games.HasNextPage ? "disabled" : "";

}
@if (SignInManager.IsSignedIn(User))
{

    <div class="results-game">
        <h2 style="color:white">Games</h2>
        <hr class="bar" style="margin-bottom: 25px; width: 100%;">

        <div class="d-flex main-section-result">
            <div class="filter-section">
                <form id="filterForm" asp-controller="Games" asp-action="Index" method="get">
                    <h4 style="color: white; margin-bottom:50px">Filters</h4>
                    @if (ViewBag.SelectedReleaseStatus == "released")
                    {
                        <label>
                            <input type="radio" name="releaseStatus" value="released" checked/>
                            Released
                        </label>
                        <label>
                            <input type="radio" name="releaseStatus" value="unreleased" />
                            Unreleased
                        </label>
                    }
                    else if (ViewBag.SelectedReleaseStatus == "unreleased")
                    {
                        <label>
                            <input type="radio" name="releaseStatus" value="released" />
                            Released
                        </label>
                        <label>
                            <input type="radio" name="releaseStatus" value="unreleased" checked />
                            Unreleased
                        </label>
                    }else
                    {
                        <label>
                            <input type="radio" name="releaseStatus" value="released" />
                            Released
                        </label>
                        <label>
                            <input type="radio" name="releaseStatus" value="unreleased" />
                            Unreleased
                        </label>
                    }
                    <select class="search_select_box select-results" name="releasePlatform" id="releasePlatform">
                        <option value="" selected disabled hidden>Platforms</option>
                        @foreach (var item in Model.Platforms)
                        {
                            if (item.PlatformName == ViewBag.SelectedReleasePlatform)
                            {
                                <option value="@item.PlatformName" selected>@item.PlatformName</option>
                            }
                            else
                            {
                                <option value="@item.PlatformName" >@item.PlatformName</option>
                            }
                        }
                    </select><br>
                    <select class="select-results" name="genre" id="genre">
                        <option value="" selected disabled hidden>Genres</option>
                        @foreach (var item in Model.Genres)
                        {
                            if (item.GenreName == ViewBag.SelectedGenre)
                            {
                                <option value="@item.GenreName" selected>@item.GenreName</option>
                            }else
                            {
                                <option value="@item.GenreName">@item.GenreName</option>
                            }

                        }
                    </select><br>
                    <button class="btn btn-primary nav-btn-2" type="submit">Apply Filters</button>
                    @* <button class="btn btn-primary nav-btn" type="button" onclick="clearForm()">Clear Filters</button> *@
                    <a class="btn btn-primary nav-btn" href="/Games" >Clear Filters</a>
                </form>
            </div>
            @if (Model.NumberOfResults == 0)
            {
                <h2>
                    No Results...
                </h2>
            }
            else
            {
                <div class="game-section">

                    @foreach (var batch in batches)
                    {
                        <div class="game-row">
                            @foreach (var game in batch)
                            {
                                <a class="game-button" asp-controller="Games" asp-action="Details" asp-route-id="@game.IgdbId">
                                    <img src="@game.ImageUrl">
                                </a>
                            }
                        </div>
                    }
                    @* Butoes paginas *@
                    <div style="margin: auto;">
                        <a  asp-action="Index"
                            asp-route-releasePlatform="@ViewBag.SelectedReleasePlatform"
                            asp-route-genre="@ViewBag.SelectedGenre"
                            asp-route-releaseStatus="@ViewBag.SelectedReleaseStatus"
                            asp-route-pageNumber="@(Model.Games.PageIndex-1)"
                               class="btn btn-primary nav-btn-2 @prevDisabled">
                        Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-releasePlatform="@ViewBag.SelectedReleasePlatform"
                           asp-route-genre="@ViewBag.SelectedGenre"
                           asp-route-releaseStatus="@ViewBag.SelectedReleaseStatus"
                           asp-route-pageNumber="@(Model.Games.PageIndex + 1)"
                               class="btn btn-primary nav-btn-2 @nextDisabled">
                            Next
                        </a>
                    </div>
                </div>
            }

        </div>



    </div>
}
else
{
    <h1 style="color :red">Please log in to access this page.</h1>
}