@model GameViewData
@using System.Linq
@using questvault.Utils
@{
  ViewData["Title"] = "Results";
  ViewData["help_Text"] = @"
       In the Results page you can find a selection of games,<br/>
       that you searched a especificly!<br/>";
}

@{
  var batchSize = 5; // Defina o tamanho do lote aqui
  var batches = Model.Games.Select((game, index) => new { Game = game, Index = index })
                     .GroupBy(x => x.Index / batchSize)
                     .Select(g => g.Select(x => x.Game));

  var prevDisabled = !Model.Games.HasPreviousPage ? "disabled" : "";
  var nextDisabled = !Model.Games.HasNextPage ? "disabled" : "";
}
@if (SignInManager.IsSignedIn(User))
{

  <div class="results-game">
    <div class="d-flex justify-content-center">
      <button class="btn btn-blue-big btn-search-disabled m-2">
        <img class="nav-vector pe-1" src="~/img/vector/gamepad.svg" alt="Gamepad Icon" />
        Games
      </button>
      <a asp-controller="Home" asp-action="SearchUser" asp-route-id="@Model.SearchTerm" class="btn btn-purple btn-users-inverted align-items-center m-2">
        <img class="nav-vector pe-1" src="~/img/vector/user.svg" alt="User Icon" />
        Users
      </a>
    </div>
    <hr class="bar" style="margin-bottom: 25px; width: 100%;">
    <div class="d-flex main-section-result justify-content-center">
      <div class="game-section">
        <h4 class="mb-4">@ViewBag.NumberOfResults results for @Model.SearchTerm</h4>
        @* Showing Games *@
        @foreach (var batch in batches)
        {
          <div class="game-row">
            @foreach (var game in batch)
            {
              <a class="game-button" asp-controller="Games" asp-action="Details" asp-route-id="@game.IgdbId">
                <img src="@game.ImageUrl">
              </a>
            }
          </div>
        }
        @* Page System *@
        <div style="margin: auto;">
          <a asp-action="Results"
             asp-route-searchTerm="@Model.SearchTerm"
             asp-route-pageNumber="@(Model.Games.PageIndex-1)"
             class="btn btn-primary nav-btn-2 @prevDisabled">
            Previous
          </a>
          <a asp-action="Results"
             asp-route-searchTerm="@Model.SearchTerm"
             asp-route-pageNumber="@(Model.Games.PageIndex + 1)"
             class="btn btn-primary nav-btn-2 @nextDisabled">
            Next
          </a>
        </div>
      </div>

    </div>


  </div>
}
else
{

  <h1 style="color :red">Please log in to access this page.</h1>
}