@model GameLog
@{
  TempData["_GR-ShowDeleteButton"] ??= false;
}
@if (Model != null)
{
  <div class="review-card">
    <div class="review-user"> @* USER *@
      <a style="text-decoration: none; color: white" href="@Url.Action("Profile", "User", new { name1 = User.Identity.Name, id2 = Model.User.Id})">
        <img class="user-foto p-3 ms-0 me-4" src="~/img/vector/user.svg" style="background: #0ABDC6; height: 4rem; width: 4rem;" />
        <span style="min-width: 8rem;">@Model.User.UserName</span>
      </a>
    </div>
    <div class="review-text"> @* REVIEW *@
      <p style="color: white">@Model.Review</p>
    </div>
    <div class="review-rating">
      <p style="color: white">@Model.Rating/5</p>
    </div>
    <div class="review-delete">
      @if (object.Equals(TempData["_GR-ShowDeleteButton"], true))
      {
        <a onclick="return confirm('Are you sure you want to remove @Model.User.UserName's Review?')"
           class="btn btn-primary btn-remove" asp-controller="Backoffice" asp-action="RemoveReview" asp-route-id="@Model.GameLogId">Remove</a>
      }
    </div>
  </div> 
}