@model GameLog
@{
  TempData["_GR-ShowDeleteButton"] ??= false;
  var userAvatar = (Model.User != null && Model.User.ProfilePhotoPath != null) ? Model.User.ProfilePhotoPath : "user.svg";
}
@if (Model != null)
{
  <div class="review-card">
    <div class="review-user">
      @* USER *@
      <a style="text-decoration: none; color: white" href="@Url.Action("Profile", "User", new { name1 = User.Identity.Name, id2 = Model.User.Id})">
        <img src="~/img/usr_profile/@userAvatar" alt="Key Icon" class="user-foto p-3 ms-0 me-4" style=" height: 4rem; width: 4rem; @(userAvatar != "user.svg" ? "background: #0ABDC6;" : "") ">
        @* <img class="user-foto p-3 ms-0 me-4" src="@Model.User.ProfilePhotoPath." style="background: #0ABDC6; height: 4rem; width: 4rem;" /> *@
      </a>
      <div class="review-username d-flex align-items-center">
        <span style="min-width: 8rem;">@Model.User.UserName</span>
      </div>
    </div>
    <div class="review-text d-flex align-items-baseline">
      @* REVIEW *@
      <p style="color: white; font-weight: 300 !important;">
        <span style="font-weight: 500 !important;">Rating: @Model.Rating/5</span>
        <br />
        @Model.Review</p>
    </div>
    @if (object.Equals(TempData["_GR-ShowDeleteButton"], true))
    {
      <div class="review-delete d-flex align-items-center">

        <a onclick="return confirm('Are you sure you want to remove @Model.User.UserName's Review?')"
           class="btn btn-primary btn-remove" asp-controller="Backoffice" asp-action="RemoveReview" asp-route-id="@Model.GameLogId">Remove</a>

      </div>
    }
  </div>
}